h10 { 
      padding: black}
                              
        h10 {color: white}
h10 {color: white; text-shadow: black 0.1em 0.1em 0.2em}
}                      
h10 {font-size: 20pt;
     color:white;}
     
     
body {background: darkblue;}

body {text-align:center;}